.container{
    margin-top: 20px;
    margin-right:1%;
    /* margin-left: 60%; */
    width: 450px;
    height: 500px;
    border-radius: 2%;
    padding: 1%;
    color: Black;
    background-color: rgb(230, 233, 235); 
   
    box-shadow: inset;
    opacity: 0.8; 
    /* background-image: url("https://edge.mwallpapers.com/photos/wallpapers/travel-world/beach-wallpaper-widescreen-high-resolution-android-iphone-desktop-hd-backgrounds-wallpapers-1080p-4khd-wallpapers-desktop-background-android-iphone-1080p-4k-qdb8j.jpg"); */

    
}
.row{
    color:black;
    font-size: larger;
    font-family:sans-serif;
}
input{
    border-radius: 10px;
    border-color: #E69A8DFF;
    width: 250px;
    height: 30px;
}
button{
    border-radius: 10px;
    width: 75px;
    height: 30px;
}
button:hover:not(.active){
    border-radius: 10px;
    width: 75px;
    height: 30px;
    background-color: aqua;
}

body{
     background-image: url("https://thumbs.dreamstime.com/b/open-book-hardback-books-wooden-table-education-background-back-to-school-copy-space-text-76106466.jpg");  
    /* background-image: url("https://lookaside.fbsbx.com/lookaside/crawler/media/?media_id=404798939648209");  */
    /* background-image: url("https://i.pinimg.com/originals/95/c4/32/95c432ec12a48c48e6ba23ba8fd26311.gif"); */

    height: 100%;
    width: 100%;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(11);
}

h1{
    font-family: cursive;
}